<div>
  <button (click)="handleClick()">
    Change Name
  </button>
  <br>
  <input type="text" [ngModel]="name" 
  (ngModelChange)="handleChange($event)">
  <!-- (blur)="handleBlur($event)" 
  (input)="handleInput($event)"> -->
  <br>
  <input type="text" [(ngModel)]="name">
  <div>
    Hello {{name}}!
  </div>
</div>  

<div>
  <button (click)="handleClickTemplateRef(userName.value)">
    Get Value
  </button>
  <input type="text" #userName>
  <div>
    Hello {{name}}!
  </div>
</div>  

<!-- <div class="app">
  <h1 [innerText]="title"></h1>
  <h1>{{title}}</h1>
</div>
<div>
  <img [src]="logo" width="150px">
</div> -->

<!-- <div>
  {{numberOne + numberTwo}}
</div>
<div>
  {{isHappy ? ':)' : ':('}}
</div> -->
